<div class="container-fluid component-spacing">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Phonemic Rules</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="word_structure">Word Structure</label>
                        <div class="col-md-12">
                            <input id="word_structure" name="word_structure" type="text" placeholder="i.e. (C)VC(V)(C)" class="form-control input-md" required="">
                            <span class="help-block"><a href="">Click here for help.</a></span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="phoneme_rules">Phonemic Transformation Rules</label>
                        <div class="col-md-12">
                            <input id="phoneme_rules" name="phoneme_rules" type="text" placeholder="i.e. (V)Unvoiced => Voiced" class="form-control input-md" required="">
                            <span class="help-block"><a href="">Click here for help.</a></span>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="submit"></label>
                        <div class="col-md-12">
                            <button id="submit" name="submit" class="btn btn-primary">Submit</button>
                            <button id="reset" name="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>
