ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
}
 ul li {
     display: inline;
     padding: 5px;
}

table {
  border: 0;
  align-content: stretch;
}

td {
  text-align: left;
  display: inline-table;
  padding-right: 5px;
}

.delete_button {
  background-color: inherit;
  border: 0;
}

.columns {
  columns: 2;
}

p {
  margin: 0.1em;
  font-size: small;
  font-weight: bold;
}

.card-text {
  color: #FF5500;
}

.card-body {
  height: inherit;
}

.posSelect {
  padding: 5px;
  margin: 5px;
}

.definitionInput {
  padding: 5px;
  margin: 5px;
}

button {
  margin-top: 20px;
}
