<div class="jumbotron">
  <h1 class="display-1">Welcome to Vocable</h1>
</div>

<div class="jumbotron">
  <h1 class="display-4">What is Vocable?</h1>
  <p class="lead">Vocable is a web-based toolkit designed with constructed language creators (Conlangers) in mind.
    However, anyone with an interest in experimenting with language can give Vocable a try.</p>
    <p class="lead">Vocable combines several different toolsets to give you complete control over the sounds and
    structures of your very own conlang. Vocable aims to streamline the language creation process
    so that planning and design are faster and easier than ever.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">Why use Vocable?</h1>
  <p class="lead">Although several word generators, and language creation apps exist,
    we felt that many were either incomplete and required other tools to create a
    full language or the interface was simply unclear.</p>
  <p class="lead">Vocable intends to remedy that by providing a step-by-step toolkit that is
  highly customizble while being easy to use.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">How to Get Started</h1>
  <p class="lead">If you're unsure how to begin, read our handy how-to guide that explains the process and how to use each toolkit.
    Whether you want to use a single tool or take advantage of the whole toolkit, the guide should provide the help you need.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">How-To Guide</a>
</div>

<div class="jumbotron">
  <button type="button" class="btn btn-primary btn-lg">Start Here</button>
</div>
