  <div id="sidenav-wrapper">
    <ul class="sidebar-nav">
      <li>
          <a class="closebtn" (click)="closeNav()">&times;</a>
      </li>
      <li class="nav-item">
          <p class="display-4">Vocable</p>
      </li>
      <li class="nav-item" [routerLink]="['home']" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{ exact: true }" *ngIf="!isAuthenticated()">
          <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" [routerLink]="['login']" [routerLinkActive]="'is-active'" *ngIf="!isAuthenticated()">
        <a class="nav-link">Login</a>
      </li>
      <li class="nav-item" [routerLink]="['register']" [routerLinkActive]="'is-active'" *ngIf="!isAuthenticated()">
        <a class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item" [routerLink]="['wordgenerator']" [routerLinkActive]="'is-active'">
          <a class="nav-link">Word Tools</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" *ngIf="isAuthenticated()">Grammar Tools</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" *ngIf="isAuthenticated()">Dictionary</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" *ngIf="isAuthenticated()">Stats</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['output']" [routerLinkActive]="'is-active'" *ngIf="isAuthenticated()">Output Your Language</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" *ngIf="isAuthenticated()">How To Use</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled">About</a>
      </li>
    </ul>
  </div>

  <!-- Use any element to open the sidenav -->
  <button id="menu_button" class="button" (click)="openNav()"><img src="assets/img/menu_48px.png" alt="Menu"></button>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet>
        <span *ngIf="showLoader" class="loading"></span>
      </router-outlet>
    </div>
  </div>
